<div class="main_canvas">
  <img src="<%= image_path("logo.png") %>" alt="" class="_logo">
  <div class="_bottom_login">

	  <div id="content">
		<div align="center" id="content_name"></div>
	  </div>
	  <br>

	  <!-- <a href="javascript:FB.login();" class="_login" id="FBL_Btn_Lin">
      <img src="<%= image_path("facebook_login.png") %>" alt="">
    </a> -->

    <a href="<%= home_tutorial_path %>"  class="_login" id="FBL_Btn_Lin">
      <img src="<%= image_path("facebook_login.png") %>" alt="">
    </a>

  </div>
</div>
